.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  height: 80vh;
  width: 50%;
  margin: auto;
}

.number {
  background-color: rgb(229, 229, 145);
  &:hover {
    background-color: rgb(167, 167, 108);
  }
}

button {
  background-color: lightblue;
  border: 0.5px solid gray;
}

button:hover {
  font-weight: bold;
  background-color: lightgreen;
}
.left {
  grid-column: 1;
}

.right {
  grid-column: 5;
}

.center-panel {
  grid-column: 2/ 5;
  grid-row: 4 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#calc-header {
  grid-column: 2 / 5;
  grid-row: 1;
  text-align: center;
  border: 0.5px solid gray;
}

#screen {
  grid-column: 2 / 5;
  grid-row: 2;
  border: 3px solid gray;
  text-align: center;
}

#c {
  grid-column: 2 / 5;
  grid-row: 3;
}
body.dark {
  background-color: black;
  color: aliceblue;
}

body.dark button {
  background-color: brown;
  color: aliceblue;
}
body.dark button:hover {
  background-color: rgb(186, 92, 92);
}
